
.root {
	-fx-background-color: #f0f0f0;
	-fx-font-size: 11;
	-fx-font-smoothing-type: lcd;
}

/*
 * --- Custom Styles ---
 */
 
/*
 * HiddenSpliter
 */
 
 #hiddenSplitter {
	-fx-background-color: null;
    -fx-padding: 2px;
}

#hiddenSplitter *.split-pane-divider,
#hiddenSplitter *.vertical-grabber, 
#hiddenSplitter *.horizontal-grabber {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-padding: 3px;
}
 
/* 
 * Flat Button
 */

.flat-button {
	-fx-body-color:  transparent;
	-fx-background-color:   -fx-body-color;
	-fx-padding: 1;
}

.flat-button:hover {
	-fx-background-color:   -fx-body-color;
	-fx-border-color:	#d0d0d0;
}

/*
 * Flat Toggle Button
 */ 
.flat-toggle-button {
     /* -fx-skin: "com.sun.javafx.scene.control.skin.ToggleButtonSkin";*/
    -fx-background-color: #a0a0a0, #505050, #f0f0f0;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 3, 2, 1;
 	-fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-label-padding: 0;
}


.flat-toggle-button:hover {
    -fx-background-insets: 0, 1, 1 ;
}

.flat-toggle-button:armed {
     -fx-background-insets: 0, 1, 1 2 2 1;
}

.flat-toggle-button:selected {
	-fx-background-color: #a0a0a0, #505050, derive(#f0f0f0, -20%);
	-fx-background-insets: 0, 1, 1 1 1 1;
}

/*
 * Glyphs
 */
 
.field-glyph {
	-active-bg: #FEE391;
	-inactive-bg: #FF9900;
	-fx-background-color: -active-bg;
	-fx-border-color: #bbbbbb;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-spacing: 4;
 	-fx-padding: 1 2 2 2; 
 	/*-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 );*/
}

.field-glyph .text {
	
}

.field-glyph .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.field-glyph:hover .arrow {
    -fx-background-color: -fx-mark-color, #FFFFFF;
}


.filter-glyph {
	-active-bg: #ccff33;
	-inactive-bg: #FF9900;
	-fx-background-color: -active-bg;
	-fx-border-color: #bbbbbb;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-spacing: 4;
 	-fx-padding: 1 2 2 2; 
 
 	/*-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 );*/
}

.filter-glyph .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.filter-glyph:hover .arrow {
    -fx-background-color: -fx-mark-color, #FFFFFF;
}

/*
 * Line Charts
 */
.top-line-chart{
	-fx-background-color:  transparent;
   	-fx-alternative-row-fill-visible: false;
	-fx-vertical-grid-lines-visible: false;   	   	
	-fx-horizontal-grid-lines-visible: false;  
	-fx-vertical-zero-line-visible: false;
	-fx-horizontal-zero-line-visible: false; 	
}
.top-line-chart .chart-plot-background{
	 -fx-background-color:  transparent;
}
.top-line-chart .default-color0.chart-series-line { -fx-stroke: darkorange; }


.default-color0.chart-series-line { -fx-stroke: darkseagreen; }


/*
 * --- Wizards ---
 */
 
/*
 * Workspace Wizard
 */
 .workspace-wizard {
 	-fx-background-radius: 4;
	-fx-border-color: #b0b0b0;
 	-fx-background-color:  #f0f0f0;
 	-fx-vgap: 5;
 	-fx-padding: 5;
 	-fx-spacing: 5;
 /* 	-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 ); */
 }
  
.workspace-wizard-header {
	-fx-background-color:  #ffffff;
}

.worksapce-wizard-buttons {
	-fx-spacing: 10;
	-fx-padding:  5;
}



/* ---- previous ---  */


/*
 * Data Panel
 */
.data-panel {
	-fx-spacing: 4;
	-fx-padding: 10;
	-fx-background-color: #f0f0f0;	
}

.titled-pane:focused > .title {
   -fx-color: -fx-base;
}

.titled-pane:focused {
    -fx-text-fill: -fx-text-base-color;
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color:  -fx-mark-highlight-color, -fx-mark-color;
}

/* 
 * Tools Pane
 */
 
.tools-pane {
	-fx-vgap:5;
	-fx-padding: 4;
	-fx-spacing: 2;
	-fx-background-color: #f0f0f0;
}

.tools-entry {
	-fx-background-color: transparent;	
}

.tools-entry:hover {
	-fx-background-color: #e0e0e0;
}

/* 
 * Workspace
 */
.workspace {
	-fx-background-color: #ffffff;
}

.element-label {
	-fx-body-color: #d0d0d0;
	-fx-background-color: #d0d0d0;
	-fx-background-radius: 4;
	-fx-border-color: #b0b0b0;
	-fx-font-weight: bold;
	-fx-font-size:12;
	-fx-padding: 5;
}

/*
 * Database Pane
 */
 .database-pane {
 	-fx-background-radius: 4;
	-fx-border-color: #b0b0b0;
 	-fx-background-color:  #f0f0f0;
 	-fx-vgap: 5;
 	-fx-padding: 5;
 	-fx-spacing: 5;
 	-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 );
 }
 


/* 
 * Table View
 */
.table-view {
	-fx-background-color: -fx-control-inner-background;
	-fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: #bbbbbb;
}

.table-view:focused {
    -fx-background-color: -fx-control-inner-background;
}


.table-view .column-header {
	-fx-font-size: 12pt;	
}


.table-row-cell, .table-cell {
	-fx-cell-size: 16;
}

.table-view .column-header-background {
    -fx-background-color:  -fx-body-color;
    -fx-padding: 0;
}
/* Filters */

.filter-area-title {
	-fx-font-size: 11pt;
	/*-fx-font-weight: bold; */
}

.filter-area {
	-fx-background-color: #ffffff;
	-fx-border-color: #c0c0c0; 
	-fx-border-width: 2; 
	-fx-border-style: none;
}

/* 
.filter-label {
	-fx-background-color: #b0b0b0;
}
*/

.filter {
	-fx-background-color: #a0a0a0;
}

/*
 * Details pane
 */
 
 .details-pane {
 	/*-fx-border-color: #d0d0d0;*/
 	/*-fx-background-color: #f0f0f0;*/
 	-fx-vgap: 5;
 }
 
 .details-area {
	-fx-background-color: #ffffff;
	-fx-border-color: #c0c0c0; 
	-fx-border-width: 2; 
	-fx-border-style: none;
	-fx-padding: 0;
	-fx-font-size: 10;
}

/*
 * Charts
 */
.chart-area-symbol {
    -fx-background-color: null; /* #f9d900, white; */
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0px; /* makes sure this remains circular */
    -fx-padding: 3px;
}

.legend-symbol0  {
    -fx-background-color: #f9d900;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

.legend-symbol1  {
    -fx-background-color: #a9e200;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.legend-symbol2  {
    -fx-background-color: #22bad9;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.legend-symbol3  {
    -fx-background-color: #0181e2;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.legend-symbol4  {
    -fx-background-color: #2f357f;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

.legend-symbol5  {
    -fx-background-color: #860061;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.legend-symbol6  {
    -fx-background-color: #c62b00;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.legend-symbol7  {
    -fx-background-color: #ff5700;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}


/*
 * 
 */
 

.titled-pane {
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";    
    -fx-text-fill: -fx-text-base-color;
    -fx-body-color: #f0f0f0;
    -fx-background-radius: 10, 10, 10, 10;
}

.titled-pane:focused {
    -fx-text-fill: -fx-text-base-color;
}

.titled-pane > .title {
	-fx-body-color: #eaeaea;
    -fx-background-color: #cecece, /*-fx-box-border  , -fx-inner-border*/ -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
 
}

.titled-pane > .title > *.text {
	 -fx-font-weight: bold;
}

.titled-pane:focused > .title {
    -fx-color: -fx-body-color;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow {
    -fx-rotate: -90;
}

.titled-pane > .content {
	-fx-background-color: #cecece;
	-fx-background-insets: 0, 0 0 0 0;
	-fx-boder-width: 0;
	-fx-padding: 1;
}

.titled-pane1 > .content {
	-fx-background-radius: 0, 0, 5, 5;
    -fx-background-color:
       /* -fx-box-border, */
        #cecece;
       /*  linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%, derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);*/
   /*  -fx-background-insets: 0, 0 1 1 1;*/
    /*-fx-padding: 0.167em; */
}
.titled-pane:focused > .title > .arrow-button .arrow {
   /*  -fx-background-color: white;*/
}