/*
 * --- Workspace
 */


.datasources-list {
	-fx-background-color:  #ffff00;
}

/*
 *  Panel
 */
.cyclist-panel {
	/*-fx-background-color:  #f000ff;*/
	-fx-fill-width: true;
	-fx-padding: 1;
}

.cyclist-panel .header {
	-fx-background-color:  #e0e0e0;
	-fx-font-weight: bold;
	-fx-font-size:11;
	-fx-padding: 0;
	-fx-border-radius: 10 3 0 0;
}

.cyclist-panel .pane {
	/*-fx-background-color:  #ffffff;*/
	-fx-fit-to-height: true;
	-fx-border-color: #a0a0a0;
	-fx-border-radius: 0 0 3 3;
}

.cyclist-panel .panel-vbox {
	/*-fx-background-color:  #ff0000;*/
	-fx-spacing: 2;
	-fx-fill-width: true;
	-fx-border-width: 0;
	-fx-background-insets: 0;
}

/* 
 * Workspace
 */
.workspace-pane {
	-fx-background-color: #f0f0f0;
	-fx-border-width: 5;
}

.element-label {
	-fx-background-color: #d0d0d0;
	-fx-background-radius: 4;
	-fx-border-color: #b0b0b0;
	-fx-font-weight: bold;
	-fx-font-size:12;
	-fx-padding: 5;
}

.console .viewport {
 	-fx-background-color:  #ffffff;
 }

 .console .text-area {
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;	
    -fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
    -fx-font-family: monospace;
}
 
 .console .text-area:focused {
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;	
    -fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}
 
/* 
 * View
 */
.view {
	-fx-padding: 0;
	-fx-spacing: 5;
	-fx-background-color: #ffffff;
	-fx-background-radius: 5;
	/*-fx-effect: dropshadow( gaussian , rgba(0.8,0.8,0.8,0.4) , 8, 0.0 , 0 , 3 );*/
	-fx-border-color: #d0d0d0;
	-fx-border-width: 2px;
}

.view .header {
	-fx-padding: 1, 2, 0, 2;
	-fx-background-color: lightcyan ; /* #e0e0e0;*/
	-fx-font-weight: bold;

}


.view .chart-view {
	-fx-background-color: #ffffff;
}


.view .chart-view .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.workspace {
	-fx-effect: dropshadow( gaussian , rgba(0.8,0.8,0.8,0.4) , 8, 0.0 , 0 , 3 );
}

.workspace > .header {
	-fx-background-color: lightgray ;	
}

.line-chart .chart-series-line {
	-fx-stroke-width: 1px;
	-fx-effect: null;
}

.drop-area {
	-fx-background-color: #e0e0e0;
	-fx-spacing: 2;
	-fx-padding: 0;
}

.inventory {
}

.inventory .ctrl {
	-fx-padding: 3px;
	-fx-spacing:8px;
}

.inventory .choice {
	-fx-background-color: lightgray; 
 	-fx-border-color: gray;
 	-fx-border-width: 1;
 	-fx-border-radius: 3;
}

.inventory .title {
	-fx-font-size: 11px;
 	-fx-font-weight: bold;
 }

.inventory .agents-panel .header {
	-fx-background-color: #ffffff;
 }
  
 .inventory .pane .viewport {
 	-fx-background-color:  #ffffff;
 }
  
 .inventory .panel-vbox {
 }
 
 .inventory .agent {
 	-fx-spacing:3px;
 }
 
 .inventory .agent.hover {
 	-fx-background-color: #e0e0e0;
 }
 
 .inventory .nuclide-filters {
 	/*-fx-font-size: 10px;*/
 }
 
.inventory .chart {
	-fx-background-color:  transparent;
   	-fx-alternative-row-fill-visible: false;
	-fx-vertical-grid-lines-visible: false;   	   	
	-fx-horizontal-grid-lines-visible: false;  
	-fx-vertical-zero-line-visible: false;
	-fx-horizontal-zero-line-visible: true;
}

.inventory .nuclide {
    -fx-pref-width: 120px;
    -fx-font-size: 10px;
}

/* 
.inventory .nuclide {
	-fx-alignment:baseline-right;
	-fx-padding: 2px;
	-fx-max-width: 50px;
	-fx-max-height: 18px;
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;
  	-fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;    
}

.inventory .nuclide.changing {
	-fx-background-color: -fx-text-box-border, #fafafa;
  	-fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}

 .inventory .nuclide:focused {
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;	
    -fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}
*/


/*
 * flow
 */
 
 .flow {
 	/*-fx-background-color: yellow;*/
 }
 
 .flow  .pane {
 	/*-fx-background-color: yellow;*/
 }
 
  
 .flow  .ctrl {
 	-fx-spacing:8px;
 }
 
 .flow  .title {
	-fx-font-size: 11px;
 	-fx-font-weight: bold;
 }
 
 .flow .infobar {
	-fx-spacing:5px;
	-fx-padding: 5, 0, 0, 5;
	-fx-alignment:center-left;
}

.flow .timestep {
	-fx-padding: 2px;
	-fx-max-width: 50px;
	-fx-max-height: 18px;
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;
  	-fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;	
}

.flow .timestep.changing {
	-fx-background-color: -fx-text-box-border, #f0f0f0;
  	-fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}


.flow .timestep:focused {
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;	
    -fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}

.flow .nuclide {
 	-fx-alignment:baseline-right;
	-fx-padding: 2px;
	-fx-max-width: 50px;
	-fx-max-height: 18px;
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;
  	-fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;	
}

.flow .nuclide.changing {
	-fx-background-color: -fx-text-box-border, #fafafa;
  	-fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}

 .flow .nuclide:focused {
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;	
    -fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}

.flow .flow-line {
	/*-fx-background-color: lightgreen;*/
}

.flow .choice {
	-fx-background-color: lightgray; 
 	-fx-border-color: gray;
 	-fx-border-width: 1;
 	-fx-border-radius: 3;
}

.flow .line {
 	-fx-stroke: gray;
 	-fx-stroke-width: 0.5px;
 	-fx-stroke-dash-array: 4;
}
 
.flow .hover {
 	-fx-stroke: blue;
}

.flow .fnode {
 	-fx-padding: 5;
 	-fx-background-color: #fefefe;
 	-fx-background-radius: 5;
 	-fx-border-color: #808080;
 	-fx-border-radius:5;
 	-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 );
 }
 
 .flow .fnode:hover {
 	-fx-border-width: 2;
 }
 
 .flow .fnode .explict  {
 	-fx-background-color: #f0f0f0;
 }
 
 .flow fnode .selected {
 	-fx-background-color: #0fddff; /*derive(#99FF99, -20%);*/
 }

 .flow .fnode .header {
 	-fx-font-size: 8px;	
 }
 
 .flow .connector {
	-fx-stroke: #a0a0a0;
	-fx-fill: transparent;
 	-fx-stroke-width: 1px;
 	/*-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 );*/
 	
}

.flow .connector-text {
	-fx-font-size: 10px;		
}

.flow .check-box .box {
	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-padding: 1px;
}

.flow .finfo {
	/*-fx-background-color: lightgreen;*/
}

.flow .finfo .chart {
	-fx-max-height: 40px;
	-fx-max-width: 100px;
	-fx-padding: 1px;
	-fx-alternative-row-fill-visible: false;
	-fx-vertical-grid-lines-visible: false;   	   	
	-fx-horizontal-grid-lines-visible: false;  
	-fx-tick-label-font-size: 6px;
}

.flow .finfo .chart-content {
    -fx-padding: 2px;
}

.flow .radio-button .radio {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	/*-fx-border-width: 1px;
	-fx-border-color: black;*/
	-fx-padding: 1px;
}

.flow .fchart {
	/*-fx-pref-height: 100px;*/
}

.flow .fchart .chart {
	-fx-background-color:  transparent;
   	-fx-alternative-row-fill-visible: false;
	-fx-vertical-grid-lines-visible: false;   	   	
	-fx-horizontal-grid-lines-visible: false;  
	-fx-vertical-zero-line-visible: false;
	-fx-horizontal-zero-line-visible: true;
}

.flow .fchart .header {
	-fx-border-color: gray;
	-fx-border-width: 1;
	-fx-border-radius: 3;
}

.flow .fchart .chart-series-line {
	-fx-stroke-width: 1px;
} 

.flow .fchart .chart-line-symbol {
}

.flow .fchart .range {
	-fx-fill: #ccc5;
}

.flow .fchart .timeline {
	-fx-stroke-width: 2px;
	-fx-stroke: gray;
}

.flow .fchart .popup {
	-fx-background-color: #f0f0f080;
	-fx-border-radius: 3px;
	-fx-border-color: gray;
}

.flow .choice {
	-fx-background-color: lightgray; 
 	-fx-border-color: gray;
 	-fx-border-width: 1;
 	-fx-border-radius: 3;
}
.flow .total {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.range-field {
	-fx-padding: 2px;
	-fx-max-width: 50px;
	-fx-max-height: 18px;
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;
  	-fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;	
}

.range-field.changing {
	-fx-background-color: -fx-text-box-border, #f0f0f0;
  	-fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}

 .range-field:focused {
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;	
    -fx-background-insets: 1, 2;
    -fx-background-radius: 2, 2;
}

/*
 * flow view
 */
 
 .flow-view {
 	-fx-background-color: white;
 }
 
 .flow-view *> .shape {
 	-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 );
 }
 
 .flow-view *> .material-grid {
 	-fx-hgap: 5px;
 	-fx-vgap: 2px;
 }
 
 .flow-line {
 	-fx-stroke: gray;
 	-fx-stroke-width: 0.5px;
 	-fx-stroke-dash-array: 4;
 }
 
 .line-hover {
 	-fx-stroke: blue;
 }
 
 .flow-view *>.timebar {
 	-fx-background-color: lightgreen;
	-fx-padding:0px;
	-fx-spacing:5px;
	-fx-alignment:baseline-left ;
}

.flow-view *> .timestep {
	-fx-border-width: 0;
	-fx-max-width: 50px;
	-fx-max-height: 18px;
	-fx-padding: 0;
 	-fx-alignment:baseline-right;
}

.flow-view *> .infobar {
	/*-fx-background-color: lightgreen;*/
	-fx-spacing:5px;
	-fx-padding: 0, 0, 0, 0;
	-fx-alignment:center-left;
}

.flow-timestep-bar .flat-button {
	-fx-alignment:top-left  ;
}

.flow-timestep:focused {
	-fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
}

 
.flow-node {
 	-fx-padding: 5;
 	-fx-background-color: #fefefe;
 	-fx-background-radius: 5;
 	-fx-border-color: #808080;
 	-fx-border-radius:5;
 	-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 );
 }
 
 .flow-node:hover {
 	-fx-border-width: 2;
 }
 
 .flow-node .select {
 	-fx-padding: 0;  
 	/*-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;*/ /* 4 8 4 8 */
 }
 
 .node-explicit {
 	-fx-background-color: #f0f0f0;
 }
 
 .node-selected {
 	/*-fx-background-color: #0fddff ;*/ /*derive(#99FF99, -20%);*/
 }

 
 .node-header {
 	-fx-font-size: 8px;	
 	-fx-padding:1px;
 }
 
 

.connector-text {
	-fx-font-size: 12px;		
}
/*
 * Line Charts
 */
.top-line-chart{
	-fx-background-color:  transparent;
   	-fx-alternative-row-fill-visible: false;
	-fx-vertical-grid-lines-visible: false;   	   	
	-fx-horizontal-grid-lines-visible: false;  
	-fx-vertical-zero-line-visible: false;
	-fx-horizontal-zero-line-visible: false; 	
}
.top-line-chart .chart-plot-background{
	 -fx-background-color:  transparent;
}
.top-line-chart .default-color0.chart-series-line { -fx-stroke: darkorange; }


.default-color0.chart-series-line { -fx-stroke: darkseagreen; }


/* 
 * Table View
 */

.simple-table-view {
	-fx-background-color:-fx-control-inner-background;
	-fx-pref-width: 450px;
	-fx-pref-height: 200px; 
}

.simple-table-view:focused {
    -fx-background-color: -fx-control-inner-background;
}

.simple-table-view .column-header {
	/*-fx-background-color: #fdfdfd;	*/
}


.simple-table-view .column-header .label {
	/*-fx-font-size: 9px;*/
	/*-fx-font-weight: bold;*/		
}

/* 
.simple-table-view, .table-cell > .label { 
	-fx-font-size: 11px;
}
*/





/*
 * --- Wizards ---
 */
 
/*
 * Workspace Wizard
 */
 .workspace-wizard {
 	-fx-background-radius: 4;
	-fx-border-color: #b0b0b0;
 	-fx-background-color:  #f0f0f0;
 	-fx-vgap: 5;
 	-fx-padding: 5;
 	-fx-spacing: 5;
 /* 	-fx-effect: dropshadow( one-pass-box , rgba(0.8,0.8,0.8,0.4) , 2, 0.0 , 3 , 3 ); */
 }
  
.workspace-wizard-header {
	-fx-background-color:  #ffffff;
}

.worksapce-wizard-buttons {
	-fx-spacing: 10;
	-fx-padding:  5;
}

.FilterPanel .TextField{
/* 	-fx-font-size:10;*/
}
